@import url("circle.css");

.container {
  font-size: 1rem;
  padding: 4rem;
  background-color: #f2f3f7;
  box-sizing: border-box;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #0290FF;
  padding: 1rem 4rem;
  border-radius: 3rem 3rem 0 0;
}

.user-icon {
  color: aquamarine;
  border: 2px solid #f2f3f7;
  border-radius: 50%;
  padding: 1%;
  width: 2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 5rem;
}

a {
  text-decoration: none;
  color: #0290FF;
}

a:hover {
  color: #0290FF;
}

.books-con {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  background-color: #fafafa;
}

.book {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-info > * {
  margin: 0;
  padding: 0;
}

.book-info > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.grey {
  color:rgb(85, 85, 85);
}

.prog-con {
  display: flex;
  gap: 4rem;
}

button {
  background: none;
  color: #0290FF;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
}

.book-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.book-progress p {
  font-size: 1rem;
  color: rgb(163, 163, 163);
  padding: 0;
  margin: 0;
}

p.num-percent {
  color: black;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.vertical-line {
  border-left: 0.15rem solid #f2f3f7;
  margin: 0.7rem;
  border-radius: 25%;
}

.horizontal-line {
  border-top: 0.15rem solid #f2f3f7;
  border-radius: 5%;
  align-self: stretch;
}

.width {
  height: inherit;
}

.book-update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.book-update p {
  font-size: 1rem;
  color: rgb(163, 163, 163);
  padding: 0;
  margin: 0;
}

.book-update button,
.btn {
  background-color: #0290FF;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.add-book {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fafafa;
}

.add-book p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(163, 163, 163);
  padding: 0;
  margin: 0;
}

.add-book-form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.add-book-form input {
  border: 0.15rem solid #f2f3f7;
  padding: 0.5rem;
  font-size: 1rem;
  width: 40%;
}

.add-book-form button {
  background-color: #0290FF;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 20%;
}

.book-info > p:last-of-type {
  color: #0290FF;
  padding-bottom: 2rem;
}

.book-info > p:first-of-type {
  color: rgb(163, 163, 163);
  font-size: 0.9rem;
}

.book-update p:last-of-type {
  color: black;
}
